<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try examples</title>
</head>
<body>
    <ul>
    {{#each context.tours}}
    {{! I'm in a new block...and the context has changed }}
    <li>
        {{this.name}} - {{this.price}}
        {{#if ../currencies}}
            ({{../../currency.abbrev}})
        {{/if}}
    </li>
    {{/each}}
    </ul>
    {{#unless currencies}}
        <p>All prices in {{currency.name}}.</p>
    {{/unless}}
    {{#if specialsUrl}}
    {{! I'm in a new block...but the context hasn't changed (sortof) }}
        <p>Check out our <a href="{{specialsUrl}}">specials!</p>
    {{else}}
        <p>Please check back often for specials.</p>
    {{/if}}
    <p>
    {{#each currencies}}
         <a href="#" class="currency">{{.}}</a>
    {{else}}
        Unfortunately, we currently only accept {{currency.name}}.
    {{/each}}
    </p>
        
</body>
</html>